<div class = "background">
  <div class = "flex-box">
  <h2 class = "title">Üdvözlünk a 49. Minden Szipi Szuper Schönherz Qpa oldalán</h2>
  <div class ="header">
    <div>

    </div>
    <mat-card class = "login-card" *ngIf="isAuth">
      <button class="login-button" mat-raised-button color="dark-peach" (click) = "loginGoogle()">
        Login with Google
      </button>
      <button class="login-button" mat-raised-button color="dark-peach" (click) = "loginGithub()">
        Login with Github
      </button>
    </mat-card>
    <mat-card class = "isAuth-card" *ngIf="!isAuth">
      <button class="login-button" mat-raised-button color="dark-peach" (click) = "isAuth = true">
        Már regisztráltam
      </button>

    </mat-card>

    <mat-card class = "isReg-card" *ngIf="!isReg">
      <button class="login-button" mat-raised-button color="dark-peach" (click) = "isReg = true">
        Regisztráció
      </button>

    </mat-card>

    <mat-card class = "register-card" *ngIf="isReg">

      <form class="example-form">
        <mat-form-field class="email">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

      <button *ngIf="!emailFormControl.hasError('required') && !emailFormControl.hasError('email')"
         class = "register-button" mat-raised-button color="dark-peach"
         (click) = "register(emailFormControl.value)">Register
        </button>

    </mat-card>
  </div>
  <h2 class = "title">Az oldal használatához be kell jelentkezned</h2>
</div>
</div>





