.navbar-container{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar{
  border: 2px solid #555;
  margin-left: 5px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFD441;
  position: fixed;

}

.main-content{
  margin-left: 5px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.layout-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
  position: fixed;
  background-color: #FFD441;
}

.feature-content{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
}

.title{
  text-transform: uppercase;
}

mat-divider{
  margin-top: 2vh;

}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.nav-item{
  cursor: pointer;
}
