<div class="navbar">
  <mat-list>
    <div class="nav-header"><h2>Qpa Web Jee</h2></div>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-list-item class="nav-item" (click)="navigateToNews()">Hírek</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="nav-item" (click)="navigateToTeams()">Csapatok</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="nav-item" (click)="navigateToSormeres()">Sörmeres</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="nav-item" (click)="navigateToRiddle()">Riddle</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="nav-item" (click)="navigateToProfil()">Profil</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div class="main-content">
  <div class="layout-header">
    <h2 class="title">49. Minden Szipi Szuper Schönherz Qpa</h2>
  </div>
  <div class="feature-content">
    <router-outlet></router-outlet>
  </div>
</div>
