
<mat-drawer-container class="navbar-container">
  <mat-drawer class="navbar" mode="side" opened>
    <mat-list>
      <li class="nav-header"><h2>Qpa Web Jee</h2></li>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-list-item class="nav-item">Hírek</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="nav-item">Csapatok</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="nav-item">Sormeres</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="nav-item">Riddle</mat-list-item>
      <mat-divider class="nav-item"></mat-divider>
      <mat-list-item>Profil</mat-list-item>
      <mat-divider class="nav-item"></mat-divider>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content class = "main-content">
    <div class = "layout-header">
      <h2 class = "title"> 49. Minden Szipi Szuper Schönherz Qpa</h2>
    </div>
    <div class="feature-content">
      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
