:host{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar {
  border: 2px solid #555;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffd441;

  .nav-header {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    cursor: pointer;
    height: 70px;
  };

  .nav-item:hover {
    background-color: #a7871d;
  }
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.layout-header {
  width: 100%;
  text-align: center;
  background-color: #ffd441;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
}

.title {
  text-transform: uppercase;
}
